/* You can add global styles to this file, and also import other style files */
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  margin: 2% auto 3% auto;
  text-align: left;
  max-width: 600px;
}

pre {
  overflow-x: scroll;
}
